<!-- 
  Simulate a carlike robot with the teb_local_planner in stage:
  - stage
  - map_server
  - move_base
  - static map
  - amcl
  - rviz view
 -->
<launch>

        <!--  ************** Global Parameters ***************  -->
        <param name="/use_sim_time" value="true"/>

      <!-- function like amcl which publish something-->

<node pkg="tf" type="static_transform_publisher" name="map_odom_tf" args="0 0 0 0 0 0 /map /odom 100"/> 

        <!--  ************** Stage Simulator ***************  -->
	<node pkg="stage_ros" type="stageros" name="stageros" args="$(find teb_local_planner_tutorials)/stage/parking_lot.world">
		<remap from="base_scan" to="scan"/>
  	</node>

                      <!--  ****** Maps *****  -->
	<node name="map_server" pkg="map_server" type="map_server" args="$(find teb_local_planner_tutorials)/maps/parking_lot.yaml" output="screen">
		<param name="frame_id" value="/map"/>
	</node>


        <!--  ************** Navigation ***************  -->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
  	  	<rosparam file="$(find teb_local_planner_tutorials)/cfg/vehicle/costmap_common_params.yaml" command="load" ns="global_costmap" />
  	 	<rosparam file="$(find teb_local_planner_tutorials)/cfg/vehicle/costmap_common_params.yaml" command="load" ns="local_costmap" />
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/vehicle/local_costmap_params.yaml" command="load" />


                <rosparam file="$(find sbpl_lattice_planner)/auto_parking/vehicle/posefollower_params.yaml" command="load" />
                <rosparam file="$(find sbpl_lattice_planner)/auto_parking/vehicle/sbpl_global_params.yaml" command="load" />

  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/vehicle/global_costmap_params.yaml" command="load" />

<!--
  		<rosparam file="$(find teb_local_planner_tutorials)/cfg/vehicle/teb_local_planner_params.yaml" command="load" />


  <param name="base_local_planner" value="pose_follower/PoseFollower" />
		
                <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
		<param name="controller_frequency" value="5.0" />
		<param name="controller_patience" value="15.0" />

                 <param name="clearing_rotation_allowed" value="false" /> 


<param name="base_global_planner" value="global_planner/GlobalPlanner" />
		<param name="planner_frequency" value="1.0" />
		<param name="planner_patience" value="5.0" />
               
-->

                <param name="base_global_planner" value="SBPLLatticePlanner" />

                <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/auto_parking/testing11.mprim" />


		
  
              
    <!-- Our carlike robot is not able to rotate in place -->
	</node>



	  <!--  **************** Visualisation ****************  -->
	  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find teb_local_planner_tutorials)/cfg/rviz_navigation_test.rviz"/>



<!--	<node pkg="amcl" type="amcl" name="amcl" output="screen">
		<rosparam file="$(find teb_local_planner_tutorials)/cfg/amcl_params_test.yaml" command="load" />

	        <param name="initial_pose_x"            value="0"/>
		<param name="initial_pose_y"            value="0"/>
		<param name="initial_pose_a"            value="0"/>
	</node> -->

</launch>
